body {
  /* animation: color-change-4x 15s ease infinite; */
  background-image: url(images/nav-back.png);
  background-size: cover;
  background-repeat: none;
}

.logo-appear {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.enter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.enter-button {
  height: 250px;
  animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.load-logo {
  height: 800px;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

/* @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      } */

    